# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.unity_motor_dt.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Documents\loading_motor_dt\unity_motor_dt\.idea\.idea.unity_motor_dt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
